.item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90vw;
}

.icon {
  margin-left: 0.5em;
  color: rgba(4, 4, 80, 0.9);
  font-size: 1.3em;
  cursor: pointer;
}
.icon:hover {
  color: rgba(170, 10, 10, 0.9);
}
